@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 3, 7, 14;
}

body {
  background: rgb(var(--foreground-rgb));
  color: #fff;
  width: 100%;
}

.one-page {
  box-sizing: border-box;
  height: 100vh;
  margin-top: 80px;
  position: relative;
  width: 100vw;
}

/* NavBar style */
.navbar-select {
  position: relative;
  color: #63a2ff;
}
.navbar-select::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 9999px;
  background-color: #63a2ff;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* NavBar style */
