@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 3, 7, 14;
}

body {
  background: rgb(var(--foreground-rgb));
  color: #fff;
}

section {
  box-sizing: border-box;
  height: 100vh;
  margin-top: 6rem;
  position: relative;
  width: 100-topvw;
}

/* NavBar style */
.navbar-select{
  position: relative;
  color: #63A2FF;
}
.navbar-select::after{
  position: absolute;
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 9999px;
  background-color: #63A2FF;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* NavBar style */