.App {
  text-align: center;
  user-select: none;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul,
li,
ol {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#canvas {
  position: absolute;
  /*设置定位*/
  top: 0;
  left: 0;
  z-index: -6;
  /*使画布基于最低层*/
  background: #0e1729;
  /*画布背景色*/
}

.ant-popover-inner {
  background: #171717 !important;
}

.ant-popover-arrow-content {
  background: #171717 !important;
  --antd-arrow-background-color: #171717 !important;
}

a {
  color: #fff;
}

input:focus {
  outline: none;
  border: 1px solid #fff;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #1B1B1B inset;
  -webkit-text-fill-color: #fff;
  /* background: red !important; */
}


.ant-popover-inner {
  border-radius: 24px !important;
}

.ant-popover-inner-content {
  padding: 0 !important;
}


.input {
  -webkit-appearance: none;
  /*解决ios样式问题*/
}

html {
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-touch-callout: none;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* input {
  border: 0;
  padding: 0;
  outline: none;
} */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid 1B1B1B;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* .ant-input-affix-wrapper .ant-input:focus {
  border: none !important;
  border-bottom: 1px solid white !important;
  box-shadow: none;
} */
